extends layout

block content
  div.card.border-light.mb-3.shadowed.mt-4.mb-4
    div.card-header.font-weight-bold Reasearch Projects
    div.text-dark.card-body.px-5
      div
        div
          img(src="./images/icons/svg/project.svg" alt="project icon").profile-icon
          h4.has-icon.project-name Project Name 
        div
          img(src="./images/icons/svg/sponsor.svg" alt="project icon").profile-icon
          h5.has-icon Sponsor: 
          span Sponsor Name 
        div
          img(src="./images/icons/svg/grant.svg" alt="project icon").profile-icon
          h5.has-icon Grant: 
          span Grant 
        div
          img(src="./images/icons/svg/project.svg" alt="project icon").profile-icon
          h5.has-icon Venue: 
          span Venue 
        div
          img(src="./images/icons/svg/date.svg" alt="project icon").profile-icon
          h5.has-icon  
          span 1-2-1999 to 
          h5.has-icon 
          span 2-2-1999 
        div
          img(src="./images/icons/svg/duration.svg" alt="project icon").profile-icon
          h5.has-icon Duration: 
          span 2 months 
        hr
        div
          div
            img(src="./images/icons/svg/project.svg" alt="project icon").profile-icon
            h4.has-icon.project-name Project Name 
          div
            img(src="./images/icons/svg/sponsor.svg" alt="project icon").profile-icon
            h5.has-icon Sponsor: 
            span Sponsor Name 
          div
            img(src="./images/icons/svg/grant.svg" alt="project icon").profile-icon
            h5.has-icon Grant: 
            span Grant 
          div
            img(src="./images/icons/svg/project.svg" alt="project icon").profile-icon
            h5.has-icon Venue: 
            span Venue 
          div
            img(src="./images/icons/svg/date.svg" alt="project icon").profile-icon
            h5.has-icon  
            span 1-2-1999 to 
            h5.has-icon 
            span 2-2-1999 
          div
            img(src="./images/icons/svg/duration.svg" alt="project icon").profile-icon
            h5.has-icon Duration: 
            span 2 months 
    
  div.card.border-light.mb-3.shadowed.mt-4.mb-4
    div.card-header.font-weight-bold Patents
    div.text-dark.card-body.px-5
      div
        div
          img(src="./images/icons/svg/patent.svg" alt="project icon").profile-icon
          h4.has-icon.project-name Patent Name 
        div
          img(src="./images/icons/svg/number.svg" alt="project icon").profile-icon
          h5.has-icon Patent Number:  
          span 123ABC 
        div
          img(src="./images/icons/svg/description.svg" alt="project icon").profile-icon
          h5.has-icon Description: 
          span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        div
          img(src="./images/icons/svg/date.svg" alt="project icon").profile-icon
          h5.has-icon Date: 
          span 01-02-2012 
        hr
        div
          div
            img(src="./images/icons/svg/patent.svg" alt="project icon").profile-icon
            h4.has-icon.project-name Patent Name 
          div
            img(src="./images/icons/svg/number.svg" alt="project icon").profile-icon
            h5.has-icon Patent Number:  
            span 123ABC 
          div
            img(src="./images/icons/svg/description.svg" alt="project icon").profile-icon
            h5.has-icon Description: 
            span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          div
            img(src="./images/icons/svg/date.svg" alt="project icon").profile-icon
            h5.has-icon Date: 
            span 01-02-2012 
      
  div.card.border-light.mb-3.shadowed.mt-4.mb-4
    div.card-header.font-weight-bold Events Organised
    div.text-dark.card-body.px-5
      div
        div
          img(src="./images/icons/svg/event.svg" alt="project icon").profile-icon
          h4.has-icon.project-name Event Name 
        div
          img(src="./images/icons/svg/sponsor.svg" alt="project icon").profile-icon
          h5.has-icon Sponsor: 
          span SPonsor Name 
        div
          img(src="./images/icons/svg/grant.svg" alt="project icon").profile-icon
          h5.has-icon Grant: 
          span $123 
        div
          img(src="./images/icons/svg/venue.svg" alt="project icon").profile-icon
          h5.has-icon Venue: 
          span Dubai
        div
          img(src="./images/icons/svg/date.svg" alt="project icon").profile-icon
          h5.has-icon  
          span 1-2-1999 to 
          h5.has-icon 
          span 2-2-1999 
        hr
        div
          div
            img(src="./images/icons/svg/event.svg" alt="project icon").profile-icon
            h4.has-icon.project-name Event Name 
          div
            img(src="./images/icons/svg/sponsor.svg" alt="project icon").profile-icon
            h5.has-icon Sponsor: 
            span SPonsor Name 
          div
            img(src="./images/icons/svg/grant.svg" alt="project icon").profile-icon
            h5.has-icon Grant: 
            span $123 
          div
            img(src="./images/icons/svg/venue.svg" alt="project icon").profile-icon
            h5.has-icon Venue: 
            span Dubai
          div
            img(src="./images/icons/svg/date.svg" alt="project icon").profile-icon
            h5.has-icon  
            span 1-2-1999 to 
            h5.has-icon 
            span 2-2-1999 
        
  div.card.border-light.mb-3.shadowed.mt-4.mb-4
    div.card-header.font-weight-bold Citations
    div.text-dark.card-body.px-5
      div
        div
          img(src="./images/icons/svg/citation.svg" alt="project icon").profile-icon
          h5.has-icon Citation Count: 
          span 198
        div
          img(src="./images/icons/svg/h-index.svg" alt="project icon").profile-icon
          h5.has-icon H-Index: 
          span 7 
        div
          img(src="./images/icons/svg/i10index.svg" alt="project icon").profile-icon
          h5.has-icon i10-Index: 
          span 5
        hr
        div
          img(src="./images/icons/svg/citation.svg" alt="project icon").profile-icon
          h5.has-icon Citation Count: 
          span 198
        div
          img(src="./images/icons/svg/h-index.svg" alt="project icon").profile-icon
          h5.has-icon H-Index: 
          span 7 
        div
          img(src="./images/icons/svg/i10index.svg" alt="project icon").profile-icon
          h5.has-icon i10-Index: 
          span 5
        
          
  div.card.border-light.mb-3.shadowed.mt-4.mb-4
    div.card-header.font-weight-bold Events Attended
    div.text-dark.card-body.px-5
      div
        div
          img(src="./images/icons/svg/event.svg" alt="project icon").profile-icon
          h4.has-icon.project-name Event Name 
        div
          img(src="./images/icons/svg/sponsor.svg" alt="project icon").profile-icon
          h5.has-icon Sponsor: 
          span SPonsor Name 
        div
          img(src="./images/icons/svg/venue.svg" alt="project icon").profile-icon
          h5.has-icon Venue: 
          span Dubai
        div
          img(src="./images/icons/svg/date.svg" alt="project icon").profile-icon
          h5.has-icon  
          span 1-2-1999 to 
          h5.has-icon 
          span 2-2-1999 
        hr
        div
          div
            img(src="./images/icons/svg/event.svg" alt="project icon").profile-icon
            h4.has-icon.project-name Event Name 
          div
            img(src="./images/icons/svg/sponsor.svg" alt="project icon").profile-icon
            h5.has-icon Sponsor: 
            span SPonsor Name 
          div
            img(src="./images/icons/svg/venue.svg" alt="project icon").profile-icon
            h5.has-icon Venue: 
            span Dubai
          div
            img(src="./images/icons/svg/date.svg" alt="project icon").profile-icon
            h5.has-icon  
            span 1-2-1999 to 
            h5.has-icon 
            span 2-2-1999 
