html{
  background-color: #EBF6F7;
}
body{
  background: linear-gradient(top, #CFEDF2 0%, #EBF6F7 100%) no-repeat;
  background: -webkit-linear-gradient(top, #CFEDF2 0%, #EBF6F7 100%) no-repeat;
  background: -moz-linear-gradient(top, #CFEDF2 0%, #EBF6F7 100%) no-repeat;
}

/* navbar styling */
.navbar{
  padding: 0;
  box-shadow: 1px 1px 20px #777;
}
.navbar .container-fluid{
  padding: 0px 15px 0px 15px;
}
nav .navbar-brand{
  color: white !important;
}
nav.bg-custom{
  background-color: #0D6565;
}
.bg-custom-2{
  background-color: #3a7d96;
}
.bg-custom-3{
  background-color: #266177;
}
ul.navbar-nav > li{
  padding: 1rem 0.5rem;
}
.navbar-brand{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Dosis', sans-serif;
}
ul.navbar-nav > li a{
  color: rgba(255, 255, 255, 0.8);
  padding: 1rem 1rem;
  font-family: 'Poppins', sans-serif;
}
ul.navbar-nav > li.active a{
  color: white;
}
ul.navbar-nav > li a:hover{
  color: white;
  text-decoration: none;
}
.shadowed{
  box-shadow: 1px 1px 20px #999;
}

/* card */
.card-header{
  /* font-family: 'Dosis', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

/* form styling */
label{
  font-weight: 500;
}

/* for icons */
.has-icon{
  font-family: 'Dosis', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  display: inline;
}
.profile-icon{
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

/* flash messages styling */
ul.success, ul.error{
  padding: 0;
  list-style-type: none;
}
ul.success li{
    padding: 15px;
    margin: 20px 0 20px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #33cc33;
    border-color: #009900;
    list-style: none;
}
ul.error li{
    padding: 15px;
    margin: 20px 0 20px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    list-style: none;
}
