.navbar{
  padding: 0;
}
nav .navbar-brand{
  color: white !important;
}
nav.bg-custom{
  background-color: #17A2B8;
}

ul.navbar-nav > li, .navbar-brand{
  padding: 1rem 1rem;
}

ul.navbar-nav > li a{
  color: #000;
  padding: 5px 10px;
}
ul.navbar-nav > li a:hover{
  color: white;
  text-decoration: none;
}

ul.navbar-nav > li.active a{

}

.shadowed{
  box-shadow: 5px 5px 50px #999;
}

ul.success li{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    list-style: none;
}
ul.error li{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    list-style: none;
}
